# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Dataset
data/raw/*
data/processed/*

# Model weights
models/*.pt
models/*.pth
models/*.onnx
models/*.engine

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db